.intro_section{
  padding: 60px 0;
  .intro_box{
    h1{
      font-size: 69px;
      font-weight: bold;
      color: rgba($gray_color,  1.0);
      font-family: $minFont;
    }
    .prag{
      font-family: $subFont;
      font-size: 18px;
      font-weight: 500;
      color: rgba($gray_color,  1.0);
      padding: 20px ;
    }

  }
}