.intro_section{
  padding: 100px 0 60px;
  background-color: rgba($gray_color, .1);
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    background-image: url(../img/waves2.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    bottom: -499px;
    height: 186%;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .intro_box{
    h1{
      font-size: 69px;
      font-weight: bold;
      color: rgba($gray_color,  1.0);
      font-family: $minFont;
    }
    .prag{
      font-family: $subFont;
      font-size: 18px;
      font-weight: 500;
      color: rgba($gray_color,  1.0);
      padding: 20px ;
    }

  }
}