@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


body{
  counter-reset: workflow_list;
  background-color: #F8F8F8;
  overflow-x: hidden;
}


.section_space {
  padding: 60px 0;
  &.dual{
    padding: 257px 0 60px;
  }
}
.section_title_box {
  margin: 0 0 40px;
  text-align: center;
  &.start-text {
    text-align: start;
    margin: 0;
    .prag {
      margin: unset;
    }
    h2 {
      font-size: 34px;
    }
  }
  &.small_title{
    h2{
      font-size: 24px;
    }
  }
  &.white_box {
    h2 {
      color: rgba($white_color, 1);
    }
    .prag {
      color: rgba($white_color, 0.6);
    }
  }
  h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: $minFont;
    color: rgba($min_color, 1);
    text-transform: uppercase;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: $minFont;
    color: rgba($gray_color, 1);
    padding: 14px 0;
  }
  .prag {
    width: 55%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    font-family: $subFont;
    color: rgba($gray_color, 1);
  }
}

.intro_button {
  border: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 14px 60px;
  color: rgba($white_color, 1);
  font-family: $subFont;
  font-weight: 500;
  position: relative;
  background-color: rgba($min_color, 1);
  img {
    height: 23px;
    padding: 0 3px;
    @extend%trans4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    left: 40px;
  }
  &:hover {
    img {
      opacity: 1;
      left: 31px;
    }
  }
}



.close-icon {
  left: 38px !important;
}
.overlay{
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(41, 146, 200, 0.2);
    z-index: 66;
}
.up-a {
  animation: li-up 0.5s linear forwards;
}

.opne_menuBox {
  right: 0 !important;
}
