@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  display: inline-block;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
