// /var

///////////////////// colors




$min_color: #3D37F1;
$minLight_color: #66659F;
$minLight2_color: #9997DF;
$pink_color: #F137E5;
$pinkLight_color: #E66E6E;
$orang_color: #F36F21;
$ored_color: #F13D37;
$crayola_color: #37F1BE;
$yellow_color: #FFBA3F;
$gray_color: #534d4d;
$white_color: #fff;
$black_color: #000;









/////////////////////////////// fonts


$minFont :'Lato', sans-serif;
$subFont :'Roboto', sans-serif;;





// /var



