// /var

///////////////////// colors

$min_color: #3d37f1;
$minLight_color: #66659f;
$minLight2_color: #9997df;
$pink_color: #f137e5;
$pinkLight_color: #e66e6e;
$orang_color: #f36f21;
$ored_color: #f13d37;
$crayola_color: #37f1be;
$yellow_color: #ffba3f;
$gray_color: #534d4d;
$white_color: #fff;
$black_color: #000;

/////////////////////////////// fonts

$minFont: "Lato", sans-serif;
$subFont: "Roboto", sans-serif;

// /var
